snippet comp "Snippet for competitve programming template"
#include <iostream>
#include <string>
#include <math.h>

using namespace std;

int main(void)
{
	int n,t;

	cin>>t;
	while(t--)
	{
		cin>>n;

	}

	return 0;
}
endsnippet

snippet for "for loop template"
for(i=0; i<n; i++)
{
		
}
endsnippet

